/* google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}

/* Variable */

::selection {
  color: var(#fff);
  background-color: var(#fd8f44);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

.container {
  max-width: 1068px;
  margin: auto;
}

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
